build/
build-*/
out/
tmp/
models/
models-mnt

compile_commands.json
CMakeSettings.json
.vs/
.vscode/
.clangd

.venv/
ggml_env/
.exrc
.cache
.DS_Store
.stablelm
.gpt-2

src/arm_neon.h
tests/arm_neon.h

zig-out/
zig-cache/

*.o
*.d
*.dot

*.sw?

__pycache__/

# Model files
ggml-model-f16.bin
*.bat

build_nosan/**
build_asan/**
build_ubsan/**
build_msan/**
build_tsan/**
build_cfisan/**
build_sand_nosan/**
build_sand_msan/**
build_sand_tsan/**
build_sand_cfisan/**
build_redqueen/**
build_laf/**
build_leak/**